.menu{
    padding: 2em 0;
    .menu-container{
        @include containerlg();
        @include flexbox(column,center,center,4em);
        

        .menu-info{
            @include sectionInfo();
        }

.menu-nav{
    @include flexbox(row,center,center,1em);
    flex-wrap: wrap;

    .menu-nav-item{

        .menu-nav-link{
            @include p($Poppins,$black);
            font-weight: 600;
            &:hover{
                color: $yellow;
            }
          
        }
    }
}

    .menu-cards{
        @include flexbox(row,center,center,1em);
        flex-wrap: wrap;
        .card{
            
            @include flexbox(column,center,stretch,1em);

            
            @include mq(sm){
                width: 100%;
                @include flexbox(row,center,stretch,1em);
                height: 20em;
               
            }
            @include mq(md){
                width: 49%;
                @include flexbox(row,center,stretch,1em);
               

            }

          
            
            .card-img{
                position: relative; 
            
               height: 20em;

                
             
                @include mq(sm){
                    order: 2;
                    flex: 1 1 50%;
                }
                .card-overlay{
                    background-color: rgba(0, 0, 0,0.6);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 0;

                    height: 0;
                    overflow: hidden;
                    @include flexbox(row,center,center,0);
                  
                     i{
                        color: white;
                        padding: 1em;
                        background-color: $yellow;
                        cursor: pointer;
                        border-radius: 50%;

                        &:hover{
                            background-color: white;
                            color: $yellow;
                        }
                        
                     }
                }

               

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;

                }

                &:hover .card-overlay{
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }   
            }

            .card-body{
                height: 20em;
                
                position: relative;
                @include flexbox(column,center,center,1em);
                text-align: center;
                padding: 2em;

                h3{
                    @include h3($Abril,$black);
                }
                p{
                    @include p($Poppins,$muted);
                }
                @include mq(sm){
                    flex: 1 1 50%;
                }
            }
        }
    }   

    .button{
        @include square-btn(white,$yellow,$yellow,$yellow,white);
    }
    }

}